<div>
  <a href="#" class="login" {{on "click" this.login}}>Show Auth0 Login</a>
</div>
<div>
  <a href="#" {{on "click" (fn this.loginPasswordless "link" "email")}}>Show Auth0 magic Login</a>
</div>
<div>
  <a href="#" {{on "click" (fn this.loginPasswordless "code" "sms")}}>Show Auth0 sms Login</a>
</div>
<div>
  <a href="#" {{on "click" (fn this.loginPasswordless "code" "email")}}>Show Auth0 email code Login</a>
</div>
